<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<ocean>  
        <maxX>20</maxX>
        <maxY>20</maxY>    
    <isClosed>false</isClosed>
    <flows>
        <flow>right</flow>
        <flow>left</flow>
        <flow>right</flow>
        <flow>left</flow>
        <flow>right</flow>
        <flow>right</flow>
        <flow>left</flow>
        <flow>right</flow>
        <flow>left</flow>
        <flow>right</flow>
        <flow>left</flow>
        <flow>right</flow>
        <flow>left</flow>
        <flow>right</flow>
        <flow>left</flow>
        <flow>right</flow>
        <flow>left</flow>
        <flow>right</flow>
        <flow>left</flow>
        <flow>right</flow>
    </flows>
    <fishes>
        <fish>
            <progenyPeriod>3</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>1</x>
                <y>1</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>2</numberOfProgeny>
            <number>0</number>          
        </fish>
        <fish>
            <progenyPeriod>8</progenyPeriod>
            <type>shark</type>
            <speed>3</speed>
            <location>
                <x>2</x>
                <y>2</y>
            </location>
            <smell>4</smell>
            <lifeTime>9</lifeTime>
            <timeOfStarvation>5</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>1</number>           
        </fish>
        <fish>
            <progenyPeriod>8</progenyPeriod>
            <type>shark</type>
            <speed>3</speed>
            <location>
                <x>8</x>
                <y>17</y>
            </location>
            <smell>3</smell>
            <lifeTime>9</lifeTime>
            <timeOfStarvation>5</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>2</number>           
        </fish>
        <fish>
            <progenyPeriod>7</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>5</x>
                <y>6</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>2</numberOfProgeny>
            <number>3</number>          
        </fish>
        <fish>
            <progenyPeriod>3</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>2</x>
                <y>9</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>5</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>4</number>          
        </fish>
        <fish>
            <progenyPeriod>7</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>8</x>
                <y>11</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>6</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>5</number>          
        </fish>
        <fish>
            <progenyPeriod>3</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>5</x>
                <y>7</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>2</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>6</number>          
        </fish>
        <fish>
            <progenyPeriod>6</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>0</x>
                <y>8</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>2</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>7</number>          
        </fish>
        <fish>
            <progenyPeriod>3</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>6</x>
                <y>4</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>2</numberOfProgeny>
            <number>8</number>          
        </fish>
        <fish>
            <progenyPeriod>8</progenyPeriod>
            <type>shark</type>
            <speed>3</speed>
            <location>
                <x>11</x>
                <y>6</y>
            </location>
            <smell>2</smell>
            <lifeTime>10</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>9</number>          
        </fish>
        
        <fish>
            <progenyPeriod>3</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>4</x>
                <y>14</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>10</number>          
        </fish>
        <fish>
            <progenyPeriod>7</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>7</x>
                <y>13</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>11</number>          
        </fish>
        <fish>
            <progenyPeriod>8</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>13</x>
                <y>4</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>12</number>          
        </fish>
        <fish>
            <progenyPeriod>4</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>13</x>
                <y>10</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>2</numberOfProgeny>
            <number>13</number>          
        </fish>
        <fish>
            <progenyPeriod>7</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>18</x>
                <y>18</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>14</number>          
        </fish>
        <fish>
            <progenyPeriod>3</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>17</x>
                <y>17</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>15</number>          
        </fish>
        <fish>
            <progenyPeriod>7</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>1</x>
                <y>17</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>16</number>          
        </fish>
        <fish>
            <progenyPeriod>3</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>5</x>
                <y>15</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>17</number>          
        </fish>
        <fish>
            <progenyPeriod>8</progenyPeriod>
            <type>fish</type>
            <speed>2</speed>
            <location>
                <x>7</x>
                <y>19</y>
            </location>
            <smell>2</smell>
            <lifeTime>7</lifeTime>
            <timeOfStarvation>3</timeOfStarvation>
            <numberOfProgeny>1</numberOfProgeny>
            <number>18</number>          
        </fish>
    </fishes>
    <foods>
        <food>
            <location>
                <x>1</x>
                <y>3</y>
            </location>
            <number>0</number>
        </food>
        <food>
            <location>
                <x>3</x>
                <y>3</y>
            </location>
            <number>1</number>
        </food>
        <food>
            <location>
                <x>3</x>
                <y>1</y>
            </location>
            <number>2</number>
        </food>
        <food>
            <location>
                <x>2</x>
                <y>6</y>
            </location>
            <number>3</number>
        </food>
        <food>
            <location>
                <x>4</x>
                <y>8</y>
            </location>
            <number>4</number>
        </food>
        <food>
            <location>
                <x>5</x>
                <y>11</y>
            </location>
            <number>5</number>
        </food>
        <food>
            <location>
                <x>1</x>
                <y>11</y>
            </location>
            <number>6</number>
        </food>
        <food>
            <location>
                <x>8</x>
                <y>3</y>
            </location>
            <number>7</number>
        </food>
        <food>
            <location>
                <x>10</x>
                <y>7</y>
            </location>
            <number>8</number>
        </food>
        <food>
            <location>
                <x>14</x>
                <y>2</y>
            </location>
            <number>9</number>
        </food>
        <food>
            <location>
                <x>14</x>
                <y>1</y>
            </location>
            <number>10</number>
        </food>
        <food>
            <location>
                <x>11</x>
                <y>13</y>
            </location>
            <number>11</number>
        </food>
        <food>
            <location>
                <x>8</x>
                <y>7</y>
            </location>
            <number>12</number>
        </food>
        <food>
            <location>
                <x>11</x>
                <y>1</y>
            </location>
            <number>13</number>
        </food>
        <food>
            <location>
                <x>0</x>
                <y>14</y>
            </location>
            <number>14</number>
        </food>
        <food>
            <location>
                <x>19</x>
                <y>19</y>
            </location>
            <number>15</number>
        </food>
        <food>
            <location>
                <x>19</x>
                <y>15</y>
            </location>
            <number>15</number>
        </food>
        <food>
            <location>
                <x>2</x>
                <y>15</y>
            </location>
            <number>16</number>
        </food>
        <food>
            <location>
                <x>7</x>
                <y>19</y>
            </location>
            <number>17</number>
        </food>
        <food>
            <location>
                <x>9</x>
                <y>16</y>
            </location>
            <number>18</number>
        </food>
        <food>
            <location>
                <x>15</x>
                <y>15</y>
            </location>
            <number>19</number>
        </food>
    </foods>
</ocean>
